.Header {
    position: relative;
    z-index: 4;
    min-height: 48px;
    background-color: black;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.Header .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    max-width: -webkit-calc(100% - 86px);
    max-width: calc(100% - 86px);
    color: #fff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Header .title a, .Header .title a:hover {
    color: #fff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
