.MainLayout {
    display: flex;
    flex-direction: column;
}

.MainLayout .main {
    display: flex;
    flex-direction: row;
}


.MainLayout .main-content {
    max-width: 672px;
    flex-grow: 1;
}

.MainLayout .main-content-eeeeeeee {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.MainLayout .right-sidebar-placeholder {
    padding-top: 72px;
    border: 0;
    width: 24%;
    padding: 48px 30px 24px;
    position: relative;
}
