.PostList {
    padding-top: 72px;
}

.PostList .Post {
    max-width: 672px;
    padding-top: 48px;
    margin-bottom: 48px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.PostList .Post:first-of-type {
    border: 0;
    padding-top: 0px;
}

//.PostList .post>* {
//    max-width: 474px;
//    margin: 0px auto;
//}


//.PostList .post .post-title a:hover {
//    color: #24890d;
//}

