.Post {
    max-width: 672px;
    //padding-top: 48px;
    //margin-bottom: 48px;

    &>* {
        max-width: 474px;
        padding: 0px 10px 12px;
        margin: 0px auto;
    
    }

}

//.Post .content {
//    max-width: 474px;
//    //padding: 0px 30px;
//    margin: 0px auto 48px;
//    a:hover {
//        text-decoration: underline;
//    }
//}
