.Post {
    max-width: 672px;
    margin: 0px auto;
    //padding-top: 48px;
    //margin-bottom: 48px;

    &>* {
        max-width: 474px;
        padding: 0px 10px 12px;
        margin: 0px auto;
    
    }

    li {
        list-style-position: inside;
    }

    span.inline-code {
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e;
        background-color: #f9f2f4;
        border-radius: 4px;
    }

}

//.Post .content {
//    max-width: 474px;
//    //padding: 0px 30px;
//    margin: 0px auto 48px;
//    a:hover {
//        text-decoration: underline;
//    }
//}
